# Keystore files
*.jks

#gradle config
/gradle
*.properties
.gradle

#tmp file
*.iml
.idea
build

#Test
app/src/androidTest
app/src/test
core/src/androidTest
core/src/test

#pro
*.pro
test
androidTest
